#v1_Box {
    align-items: baseline;
    text-align: left;
    font-weight: 300;
    line-height: 1.3;
    margin: 0 14px 14px 14px;
    padding: 24px 24px 24px 36px;
    border-radius: 14px;
    background-color: rgba(0,0,0,.2);
    height: 156px;

}

#v1_Box > * {
    margin: 0 0 12px 0;
}

#v1_Box > h1, #v1_Box > h2, #v1_Box > h3 {
    margin-left: -12px;
    text-align: left;
    display: block;
    width: 100%+24px;
}