#v1_Box {
    align-items: baseline;
    text-align: left;
    margin: 0 14px 14px 14px;
    padding: 24px;
    border-radius: 14px;
    background-color: rgba(0,0,0,.2);
    height: 156px;
}

#v1_Box * {
    margin: 0 0 10px 0;
    text-align: left;
}