#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


#main_ProfileLinks {
  /* width: fill; */
  display: flex;
  flex: auto;
  flex-direction: row-reverse;
}

#main_ProfileLinks > * {
  margin-left: 4px;
}

#main_ProfileLinks > a {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-items: center;
  display: flex;
  background: rgba(0,0,0,.2);
  border-radius: 8px;
  transition-duration: .2s;
}

#main_ProfileLinks > a:hover {
  width: 36px;
  height: 36px;
}

#main_ProfileLinks > a > img {
  width: 80%;
  height: 80%;
  padding: 10%;
  display: block;
  object-fit: contain;
}